* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  /* display: grid; */
  /* grid-template-columns: repeat(1, 1fr); */
  /* grid: auto-flow; */
  /* grid-template-rows: 50vh 50vh; */
  /* grid-column-gap: 5px;
  grid-row-gap: 5px; */
}

p {
  margin-block: 15px;
}
h2:nth-of-type(1) {
  margin-block: 20px 15px;
}

button {
  margin-block: 5px;
  width: clamp(60px, 40%, 260px);
  margin: 25px 0 45px 35px;
  background-color: #282c34;
  border: 3px solid #eee;
  border-radius: 1px;
  color: #eee;
  font-weight: 700;
  padding-block: 10px;
  font-size: large;
  cursor: pointer;
}

.quote-block{
  min-height: 190px;
  margin-inline: 40px;
  padding: 20px;
  background-color: #3d434e;
  min-width: calc(100% - 110px);
  border-radius: 10px;
}

button:hover {
  background-color: #20232a;
}

.App-header {
  /* width: fit-content; */
  margin-inline: auto;
  /* grid: auto-flow / 50vh; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
