@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-bounce-in {
    animation: appear 3s ease 1;
  }

@keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(2000px);
    }
    10% {
      opacity: 1;
      transform: translateY(-30px);
    }
    15% { 
        transform: translateY(10px);
     }
    20% { transform: translateY(0) }
    90% { opacity: 1 }
    100% { 
        transform: translateY(0);
        opacity: 0 
    }
  }

html {
  min-width: 300px
}